.content{
    display: grid;
    justify-items: center;
    padding-bottom: 100px;

    h1{
        font-family: $title;
        color: $black;

    }

    h2, h3{
        font-family: $text;
    }

    .links{
        display: flex;
        justify-content: space-between;

        a{
            font-family: $text;
            text-decoration: none;
            color: $grey;
            
            &:hover{
                text-decoration: underline $grey;
                color: $grey;
                transition: 0.5s;
            }
        }
    }



}