.delete-book-wrapper{
    text-align: center;
    font-family: $title;
    padding: 50px;

    a{
        font-family: $text;
        text-decoration: none;
        color: $grey;
        
        &:hover{
            text-decoration: underline $grey;
            color: $grey;
            transition: 0.5s;
        }
    }
}